<h2>Events</h2>

<AddEventButton @event={{event}} @create={{action "create"}} />

<ul>
  {{#each events as |event|}}
    <li>{{event.description}} {{event.startDate}} {{event.endDate}}</li>
  {{/each}}
</ul>
