<% unless event.errors.empty? %>
  <div id="validation_errors">
    The following errors occurred:
    <br/>
    <% event.errors.each do |attr, msg| %>
      &nbsp;&nbsp;- <%= "#{attr} #{msg}"  %><br/>
    <% end %>
  </div>
  </p>
<% end %>
<%= form_for event, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :start_date, 'data-provide' => 'datepicker', :value => Date.today %>
  <br/>
  <%= f.text_field :end_date, 'data-provide' => 'datepicker', :value => Date.today %>
  <br/>
  <%= f.text_area :description, :size => '40x5' %>
  <p/>
  <%= f.button "Create", :onclick => 'create_event()', :type => 'button' %>
<% end %>

