<h1>Events calendar</h1>
<%- colors = %w[red blue yellow pink] %>
<%- hidden_descriptions = {} %>
<%= link_to 'Create event', new_event_path %>

<!-- Remove the following image tag and add the markup to create a basic weekly calendar -->
<%= week_calendar events: @events,
                  number_of_weeks: 1,
                  attribute: :start_time,
                  end_attribute: :end_time do |date, events| %>
  <%= date %>

  <% events.each_with_index do |event, i| %>
    <%- hidden_descriptions[i] ||= false %>
    <%=content_tag :div, style: "background-color: #{colors[i]}" do %>
      <div>5</div>
      <%- unless hidden_descriptions[i] %>
        <strong><%= event.title  %></strong><br>
        <strong><%= event.teacher_name  %></strong><br>
        <%= event.desctiption  %>
      <% end %>
      <%- hidden_descriptions[i] = true %>
    <% end %>
  <% end %>
<% end %>

