<h1>Events calendar</h1>

<%= render 'form' %>
<br><br>

<table class="week">
  <tr>
    <% 7.times do |t| %>
        <%
          day = @week_start + t.days
        %>
        <td class="week_header">
          <b>
            <%= day.strftime('%A') %></b></br>
          <%= day.strftime('%-d %b') %>
        </td>
    <% end %>
  </tr>
  <tr>
    <td>
      <div class="main-container">
        <% @events.each do |event| %>
            <div class="event"
                 style="<%= EventPositionStyleService.new(event, @week_start, @week_end).perform %>">
              <%= event.title %>
            </div>
        <% end %>
      </div>
    </td>
    <% (7-1).times do %>
        <td>
          &nbsp;
        </td>
    <% end %>
  </tr>
</table>
