%h1= 'Events calendar'

.js-calendar

  #event-form{ title: 'Create new event' }
    = simple_form_for @event, remote: true do |f|
      = f.input :title
      = f.input :subject
      = f.input :description
      = f.input :start_date, as: :string, input_html: { class: 'date_picker' }
      = f.input :end_date, as: :string, input_html: { class: 'date_picker' }

  = link_to 'Create event', '#',class: 'js-create-event'
  .js-calendar-view
