<h1>Events calendar</h1>

<% link_to 'Create event' %>
<%= link_to 'Create event', "#event-management", data: {toggle: "modal", target: "#modal"} %>

<%if nil%>
    <!-- Remove the following image tag and add the markup to create a basic weekly calendar -->
    <% image_tag 'events_calendar', width: '100%' %>
<%else%>
    <script>
		$(document).ready(function() {
		<%
			t=Time.zone.now
			day=t.strftime("%d")
			month=t.strftime("%m")
			year=t.strftime("%Y")
			now=DateTime.now
			myStart=now.strftime("%Y-%m-%dT%H:%M:%S")
			myEnd=now+30.minutes
		%>
		    var $modal = $('#event-management');
		    $('#event-categories div.event-category').each(function () {
		        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
		        // it doesn't need to have a start or end
		        var eventObject = {
		            title: $.trim($(this).text()) // use the element's text as the event title
		        };
		        // store the Event Object in the DOM element so we can get to it later
		        $(this).data('eventObject', eventObject);
		        // make the event draggable using jQuery UI
		        $(this).draggable({
		            zIndex: 999,
		            revert: true, // will cause the event to go back to its
		            revertDuration: 50 //  original position after the drag
		        });
		    });
			var myDate= new Date('<%=t.strftime("%Y-%m-%dT%H:%M:%S")%>');
		    var d = myDate.getDate();
		    var m = myDate.getMonth();
		    var y = myDate.getFullYear();
		    var form = '';
			
			var timelineInterval;
			
			$('#calendar').fullCalendar({
				height: 800,
				disableDragging: true,
				defaultView: 'agendaWeek',
				allDayDefault: false,
				allDaySlot: false,
				scrollTime: '09:00:00',
				slotDuration: '00:15:00',
				minTime: '08:00:00',
				maxTime: '22:00:00',
				displayEventEnd: true,
				forceEventDuration:true,
				defaultTimedEventDuration:'00:15:00',
				axisFormat: 'H:mm',
				timeFormat: {
					agenda: 'H:mm{ - H:mm}'
				},
				header: {
	                left: false,
	                center: 'title',
	                right: false
	            },
				businessHours:
				{
				    start: '9:00', // a start time (9am in this example)
				    end: '20:00', // an end time (8pm in this example)
				    dow: [ 1, 2, 3, 4, 5 ]
				    // days of week. an array of zero-based day of week integers (0=Sunday)
				    // (Monday-Thursday in this example)
				},
				weekends: true,
				//hiddenDays: [ 0, 6 ], 
				defaultDate: '<%=t.strftime("%Y-%m-%d")%>',
				editable: true,
				eventLimit: false, // allow "more" link when too many events
				events: [
					<%@events.each do |e|%>
						<%=raw e%>
						<%if e!=@events.last%>
							,
						<%end%>
					<%end%>
				],
				viewRender: function(view) {              
					if(typeof(timelineInterval) != 'undefined'){
					  window.clearInterval(timelineInterval); 
					}
					//timelineInterval = window.setInterval(setTimeline, 5 * 60 * 1000 /* 5 mins */);
					timelineInterval = window.setInterval(setTimeline, 1 * 60 * 1000 /* 1 mins */);
					//timelineInterval = window.setInterval(setTimeline, 1*1000);
					try {
					  setTimeline();
					} catch(err) {}
				},
				eventRender: function(event, element) {
			        //element.qtip({
			        //    content: event.description
			        //});
			        //element.prop('title', event.tooltip);
			        $(element).tooltip({title: event.title});//it works!
			        //$(element).popover({title: event.title, content: event.description, trigger: 'hover', placement: 'auto right', delay: {"hide": 600 }}); //it works!!
			    },
	            selectable: true,
	            selectHelper: true,
	            select: function (start, end, jsEvent,view) {
					console.log("Creating event");
	                $modal.find('.modal-title').empty().prepend("Create new event "+start.year()+"-"+(start.month()+1)+"-"+start.date()+" at "+start.hour()+":"+start.minute());
				   	$('#event[event_start]').val(start.year()+"-"+(start.month()+1)+"-"+start.date()+" "+start.hour()+":"+start.minute());
				   	$('#event[event_end]').val(end.year()+"-"+(end.month()+1)+"-"+end.date()+" "+end.hour()+":"+end.minute());
				   	console.log ("setting event start and event end");
	            }
			});
			
			function setTimeline(view) {
				var parentDiv = $('.fc-slats:visible').parent();
				var timeline = parentDiv.children(".timeline");
				if (timeline.length == 0) { //if timeline isn't there, add it
					timeline = $("<hr>").addClass("timeline");
					parentDiv.prepend(timeline);
				}
	
				var curTime = new Date();
	
				var curCalView = $("#calendar").fullCalendar('getView');
				if (curCalView.intervalStart < curTime && curCalView.intervalEnd > curTime) {
					timeline.show();
				} else {
					timeline.hide();
					return;
				}
				var calMinTimeInMinutes = strTimeToMinutes(curCalView.opt("minTime"));
				var calMaxTimeInMinutes = strTimeToMinutes(curCalView.opt("maxTime"));
				var curSeconds = (( ((curTime.getHours() * 60) + curTime.getMinutes()) - calMinTimeInMinutes) * 60) + curTime.getSeconds();
				var percentOfDay = curSeconds / ((calMaxTimeInMinutes - calMinTimeInMinutes) * 60);
	
				var topLoc = Math.floor(parentDiv.height() * percentOfDay);
				var timeCol = $('.fc-time:visible');
				timeline.css({top: topLoc + "px", left: (timeCol.outerWidth(true))+"px"});
	
				/*
				if (curCalView.name == "agendaWeek") { //week view, don't want the timeline to go the whole way across
					var dayCol = $(".fc-today:visible");
					var left = dayCol.position().left + 1;
					var width = dayCol.width() + 1;
					timeline.css({left: left + "px", width: width + "px"});
				}
				*/
			}
	
			function strTimeToMinutes(str_time) {
				var arr_time = str_time.split(":");
				var hour = parseInt(arr_time[0]);
				var minutes = parseInt(arr_time[1]);
				return((hour * 60) + minutes);
			}
			
			<%if !nil%>
				// Repositions the current time indicator.
				function positionCurrentTimeIndicator() {
					var container = $('.fc-event-container').parent();
					var todayColumn = $('.fc-today:visible');
	
					var now = new Date();
					var curSeconds = (now.getHours() * 60 * 60) + (now.getMinutes() * 60) + now.getSeconds();
					var percentOfDay = curSeconds / 86400 /* 86400 are the Seconds in a day */ ;
					$('.currenttime-indicator').css({
						width: todayColumn.width(),
						left: todayColumn.position().left,
						top: container.height() * percentOfDay+1
					});
					console.log("Width: "+todayColumn.width()+" Left: "+todayColumn.position().left+" Top: "+container.height() * percentOfDay);
				}
	
	
				//addCurrentTimeIndicator();
	
	
				// Keep the calendar height in sync with the window size.
				$(window).on('resize', function() {
					$('#calendar').fullCalendar('option', 'height', $(window).height());
					positionCurrentTimeIndicator();
				});
	
	
				// Reposition every 5 mins.
				//setInterval(positionCurrentTimeIndicator, 5 * 60 * 1000 /* 5 mins */ );
				//setInterval(positionCurrentTimeIndicator, 1 * 1000 /* 1 secs */ );
			
			<%end%>
		});
	
	</script>
	<div id='calendar'></div>
	<div class="modal fade modal-topfull" id="event-management" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myAppointmentLabel">
    	<div class="modal-dialog modal-topfull">
	    	<div class="modal-content">
	        	<div class="modal-header bg-primary">
	          		<h4 class="modal-title" style="text-align:center;">Create Event</h4>
          			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<br>
					<i class="fa fa-calendar fa-4x"></i>
					<h4 id="myAppointmentLabel" class=" ">Quick event creation</h4>
					<p class="no-margin">You can create an event here.</p>
					<br>
	       		</div>
		        <div class="modal-body">
		          <form action="/events" method="post" target="_parent">
	          			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label"> Start</label>
								<input class="form-control" type="text" name="event[event_start]" id="event[event_start]">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label"> End</label>
								<input class="form-control" type="text" name="event[event_end]" id="event[event_end]">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"> Description</label>
								<input class="form-control" type="text" name="event[description]">
							</div>
						</div>
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-9"></div>
							<div class="col-md-3">
								<input class="btn btn-primary btn-block btn-embossed" name="commit" type="submit" value="Create event">
							</div>
							<div class="space5"></div>
						</div>
					</form>
		        </div>
		        <!-- <div class="modal-footer bg-aero"> -->
				<div class="modal-footer">
		          <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
		        </div>
	      	</div>
    	</div>
	</div>
<%end%>

