<h1>Events calendar</h1>
<table class='week-calendar'>
  <thead>
    <tr>
      <% (@monday..@sunday).each do |day| %>
        <th class='week-calendar__date-title'>
          <div class='week-calendar__week-day'><%= day.strftime("%A") %></div>
          <div class='week-calendar__week-date'><%= day.strftime("#{ day.strftime("%d").to_i.ordinalize } %b") %></div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (@monday..@sunday).each do |day| %>
        <td class='week-calendar__cell'>
          <% @schedule[day.cwday - 1].each do |event| %>
            <% if event[:position] < 3 %>
              <div style="width: <%= (100.0/7 * event[:duration]).round(2) - (event[:from_last_week] ? 0 : 1) - (event[:to_next_week] ? 0 : 1) %>%; top: <%= 70 * event[:position] - 15 %>px;" class="week-calendar__event <%= event[:to_next_week] ? 'week-calendar__next-week' : '' %> <%= event[:from_last_week] ? 'week-calendar__last-week' : '' %>">
                <div>
                  <%= event[:title].truncate(12, omission: '...') if event[:title].present? %>
                </div>
                <div>
                  <b><%= event[:description].truncate(12, omission: '...') if event[:description].present? %></b>
                </div>
                <div>
                  <%= event[:signature].truncate(12, omission: '...') if event[:signature].present? %>
                </div>
              </div>
            <% elsif event[:position] >= 3 %>
              <div class="week-calendar__more">
                <a href='#'>more</a>
              </div>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<div id='new-event__button' class='custom-link-btn'>
  Add event
</div>
<div class="new-event__form">
  <%= form_for(:event, remote: true) do |f| %>
    <div class='new-event__field'>
      <label class='new-event__label' for="event_title">Title:</label>
      <%= f.text_field :title, :required => true %>
    </div>
    <div class='new-event__field'>
      <label class='new-event__label' for="event_description">Description:</label>
      <%= f.text_field :description %>
    </div>
    <div class='new-event__field'>
      <label class='new-event__label' for="event_signature">Signature:</label>
      <%= f.text_field :signature %>
    </div>
    <div class='new-event__field'>
      <label class='new-event__label' for="event_start_date">Start date:</label>
      <%= f.date_field :start_date, :value => Date.today, :required => true %>
    </div>
    <div class='new-event__field'>
      <label class='new-event__label' for="event_end_date">End date:</label>
      <%= f.date_field :end_date, :value => Date.today, :required => true %>
    </div>
    <%= f.submit %>
  <% end %>
</div>