<div class="container">
  <h1>Events calendar</h1>

  <%= link_to 'Create event' %>

  <%= render 'form' %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <% for day in 0..6 %>
          <% date = start_of_week + day %>
          <th class="text-center">
            <%= date.strftime("%A") %>
            <br>
            <%= date.strftime("#{date.day.ordinalize} %B") %>
          </th>
        <%end  %>
      </tr>
    </thead>
    <tbody>
      <div>
        <%= render @events %>
      </div>
    </tbody>
  </table>
</div>
