<div class="col-sm">
  <p>Title : <%= @event.title %></p>
</div>
<div class="col-sm">
  <p>description : <%= @event.description %></p>
</div>
<div class="col-sm">
  <p>start_date : <%= @event.start_date.strftime("%m/%d/%Y") %></p>
</div>
<div class="col-sm">
  <p>end_date : <%= @event.end_date.strftime("%m/%d/%Y") %></p>
</div>
<%= link_to 'Events', events_url, class: 'btn btn-primary' %>
